@import './_mixin.scss';

// -------------------------button-------------------------------
.btn{
    @include skinHelper(white, #08A6BB, 4px solid #08A6BB);

    // &-active{
    //     @include skinHelper(white, #6F7789, 4px solid #08A6BB);
    // }

    &:hover{
        @include skinHelper(#08A6BB, white, 4px solid #08A6BB);
    }
}

.btn, .btn:hover, .btn-active{
    @include sizeHelper(100%, auto, 8px);
    @include fontHelper(16px, 700);

    padding: 8px;
    line-height: 100%;
}

// carousel
// .carousel{
//     &_item{
//         height: 600px;
//     }

//     &_caption{
//         bottom: 40%;
//         padding: 0;    
        
//         * {
//             font-size: 32px;
//             font-weight: 700;
//             text-shadow: 10px 8px 12px rgba(0, 0, 0, 0.37);
//             color: white;
//             font-style: italic;
//         }
//     }

//     &_search{
//         display: inline;
//         position: relative;
//         top: -250px;
//         left: 280px;        
//     }

//     &_search_input{
//         border-radius: 8px;
//         margin-right: 20px;
//         z-index: 20;
//         box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.25);        
//     }

//     &_indicators{
//         @include skinHelper(white, #8F8F8F);
    
//         &:hover{
//             @include skinHelper(white, #08A6BB);
//         }
    
//         &-active{
//             @include skinHelper(#08A6BB, white);
//         }
//     }
// }

// .carousel_indicators, .carousel_indicators:hover, .carousel_indicators-active{
//     @include sizeHelper(12px, 12px, 50%);
//     @include fontHelper(12px, 700);
// }

// -------------------------card-------------------------------
.card{
    @apply rounded-lg shadow-lg bg-white shadow-gray-100/50 overflow-hidden;

    &_body{
        @apply p-0;
    }

    &_title{
        @apply text-gray-100 font-bold mb-0;
    }

    &_type{
        @apply text-gray-blue overflow-hidden mb-0 text-h6;

        // font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &_img{
        max-height: 13rem;
        @apply overflow-hidden;


        // overflow: hidden;        
    }
}

// -------------------------modal-------------------------------
.modal {
    @apply flex justify-center items-center absolute top-0 left-0;
    
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    
    // @include sizeHelper(100vw, 100vh);
    // width: 100vw;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    // top: 0;
    // left: 0;

    // outline: 2px solid gold;

    &_dialog {
      width: 80%;
      border-radius: 0.25rem;
      padding: 16px;
      background: #fff;

      &_title {
        color: #6f7789;
        border-bottom: 1px solid #ccc;
      }
    }
}

.picture_frame{
    &-small{
        height: 150px;
    }

    &-big{
        height: 320px;
    }    
}

.picture_frame-small, .picture_frame-big{
    @apply overflow-hidden;
}