@import './_mixin';

// -------------------------button-------------------------------
.btn{
    @include skinHelper(#08A6BB, white, 4px solid #08A6BB);
    @include fontHelper(16px, 700);

    padding: 8px;
    line-height: 100%;

    &:hover{
        @include skinHelper(darken(#08A6BB, 10%), white, 4px solid darken(#08A6BB, 10%));
    }
}

// , .btn-active
.btn, .btn:not(.group_append):hover{
    @include sizeHelper(auto, auto, 8px);
}

.btn.btn-transparent{
    @include skinHelper(transparent, transparent, 2px solid transparent);

    &:hover{
        @apply bg-gray-40/50;
    }
}

.btn.btn-outline{
    @include skinHelper(white, #08A6BB, 2px solid #08A6BB);

    &:hover{
        @include skinHelper(#08A6BB, white, 2px solid #08A6BB);
    }
}

// , .btn-active
.btn.btn-block, .btn.btn-block:hover{
    @include sizeHelper(100%, auto, 8px);
}

// -------------------------carousel-------------------------------
.carousel{
    @apply relative;

    &_slide{
        @apply overflow-hidden relative h-56 h-80 xs:h-64;

        &_item{
            @apply ease-in-out relative top-1/2;

            transition: all 2s;
    
            &_caption{
                @apply absolute z-10 top-1/2 left-1/2 font-semibold text-white -translate-x-1/2 -translate-y-1/2;
            }
        
            &_img{
                @apply block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2;
            }        
        }
    }

    &_control{
        @apply flex absolute top-0 z-30 justify-center items-center px-4 h-full cursor-pointer focus:outline-none;

        &_content{
            @apply inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30;

            &:hover{
                opacity: 0.8;
            }            
        }
    }

    &_indicator{
        @apply flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2;
    }
}

// -------------------------card-------------------------------
.card{
    @apply rounded-lg shadow-lg bg-white shadow-gray-100/50 overflow-hidden;

    height:100%;

    &_body{
        @apply grid gap-y-2 p-4;

        grid-template-rows: 2fr 3fr 2fr;
        
        &_top{
            @apply grid items-center;

            grid-template-columns: 4fr 2fr;
        }
    }

    &_title{
        @apply text-gray-100 font-bold mb-0 truncate;
    }

    &_type{
        @apply text-h6 text-gray-blue truncate mb-0 ;
    }

    &_img{
        @apply overflow-hidden bg-gray-60;

        max-height: 13rem;
    }
}

// -------------------------modal-------------------------------
.modal {
    @apply w-screen h-screen bg-gray-100/50 fixed;

    top: 0;
    left: 0;

    &_body{
        @apply absolute flex flex-col p-8 rounded bg-white shadow-lg shadow-gray-80/30 overflow-y-auto;

        z-index: 100;
        max-height: 80vh;

        &.lg {
            @apply w-4/5;
        }

        &.md {
            @apply w-3/5;
        }

        &.sm {
            @apply w-2/5;
        }
    }

    &-show {
        @apply fixed;

        top: 10%;

        &.lg {
            left: 10%;
        }

        &.md {
            left:20%;
        }

        &.sm {
            left: 30%;
        }
    }
}

// -------------------------input-------------------------------
.group {
    @apply flex;

    * {
      @apply rounded-none;
    }

    &_prepend {
      border-radius: 8px 0 0 8px;
    }

    &_append {
      border-radius: 0 8px 8px 0;
    }

    &_input {
      @apply border-solid border-gray-60 outline-none px-2 py-1;

      border-width: 1px;

      &-block{
        @apply w-full;
      }
    }
  }

// -------------------------calendar-------------------------------
.calendar {
    @apply outline-2 outline-gray-40 outline grid rounded;

    grid-template-columns: repeat(7, 1fr);

    &_cell {
        @apply p-2 text-left;

        &.date{
            @apply outline-1 outline-gray-40 outline overflow-hidden;

            min-height: 108px;
            max-height: 200px;
        }
    }

    &_marker{
        @apply p-1 rounded truncate cursor-pointer;

        background-color: gold;
        margin-bottom: 2px;
    }

    &_title{
        @apply bg-primary text-white font-bold text-center;
    }

    &_title, &_navigator {
        grid-column: 1/8;
        padding: 8px;
    }

    &_navigator {
        @apply flex justify-between;
    }
  }
  
// -------------------------spinner-------------------------------
.spinner{
    @apply rounded-full inline-block  border-solid border-r-transparent;

    vertical-align: text-bottom;
    animation: spinner-animation .75s linear infinite;

    &.spinner-lg{
        @apply w-32 h-32 border-8;
    }

    &.spinner-md{
        @apply w-16 h-16 border-8;
    }    

    &.spinner-sm{
        @apply w-4 h-4 border-4;
    }

    span{
        @apply p-0 overflow-hidden whitespace-nowrap border-0 absolute;

        width: 1px;
        height: 1px;
        clip: rect(0, 0, 0, 0);
    }
}

@keyframes spinner-animation {
    0% {
        transform:rotate(0deg);
    }

    100% {
        transform:rotate(360deg);
    }
}

// -------------------------tooltip-------------------------------

.tooltip {
    @apply bg-white rounded p-2 absolute;

    outline: 1px solid #CBCBCB;

    &_body {
        @apply flex flex-col;

        &_close{
            @apply text-gray-80 ml-auto mb-2 hover:scale-150 cursor-pointer;
        }
    }
}