@import './_mixin';

// -------------------------container & row & column-------------------------------
.row{
    @apply flex flex-wrap;
}

.col{
    @apply px-4;

    flex-grow: 1;
}

.col-0{
    width: 0;
    opacity: 0;
}

.col-transition{
    transition: width 1s, opacity 3s;
}

// @include columnHelper(12);

// -------------------------header & footer-------------------------------
%nav{
    @apply flex flex-wrap justify-between items-center pb-1 border-solid border-2 border-transparent;

    border-bottom: 2px solid transparent;  
}

.nav{
    @extend %nav;

    padding: 24px 76px;
    
    &_logo{
        @apply flex justify-center ;
    }

    &_menu{
        @apply flex justify-between;

        min-width: 30%;
        max-width: 50%;
        
        &_item{
            @extend %nav;
    
            &:hover {
                @apply font-bold pb-1;
            }
    
            a {
                @apply text-gray-blue;
    
                text-decoration: none;
            }
    
            a.router-link-exact-active {
                @apply text-primary font-bold;
            }        
        }
    }

    &_avatar{
        @apply w-10 h-10 rounded-full overflow-hidden cursor-pointer;
    }
}

.banner-bottom{
    margin: 0 -10rem;
}

.footer {
    @apply bg-primary text-white text-center font-bold;

    height: 120px;
    line-height: 120px;
}

// -------------------------others-------------------------------
.message{
    @apply text-h3 font-bold text-center;

    &.error{
        @apply text-error
    }
}

// -------------------------RWD-------------------------------

@media (max-width: 428px){
    .col{
        @apply px-2;
    }

    // @include columnHelper(12, 'sm', 0 8px); 

    .nav{
        @apply p-3;

        &_logo{
            @apply w-full mb-5;
        }

        &_menu{
            @apply justify-around w-full;

            min-width: none;
            max-width: none;
        }
    }

    .banner{
        &-bottom{
            margin: 0 -2rem;
        }

        &_text{
            @apply px-6;
        }
    }
}