@import './_mixin';

// -------------------------container & row & column-------------------------------
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 16px;
}

.row{
    @apply flex flex-wrap;
}

.col{
    flex-grow: 1;
    padding: 0 16px;
}

.col-0{
    width: 0;
    opacity: 0;
}

.col-transition{
    transition: width 1s, opacity 3s;
}

@include columnHelper(12);

@media (max-width: 428px){
    .container{
        width: 90%;
        padding: 0 8px;
    }

    .col{
        padding: 0 8px;
    }

    @include columnHelper(12, 'sm', 0 8px); 
}

// -------------------------header & footer-------------------------------
%nav{
    @apply flex justify-between items-center border-solid border-2 border-transparent;

    padding-bottom: 4px;
    border-bottom: 2px solid transparent;  
}

.nav{
    padding: 24px 76px;
    @extend %nav;


    &_item{
        @extend %nav;

        &:hover {
            @apply font-bold pb-1;
        }

        a {
            @apply text-gray-blue;

            text-decoration: none;
        }

        a.router-link-exact-active {
            @apply text-primary font-bold;
        }        
    }

    &_avatar{
        @apply w-10 h-10 rounded-full overflow-hidden cursor-pointer;
    }
}

.footer {
    height: 120px;
    line-height: 120px;
    @apply bg-primary text-white text-center font-bold;
}

// -------------------------spacing-------------------------------

