@import './_mixin.scss';

// -------------------------container & row & column-------------------------------
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 16px;
}

.row{
    @apply flex flex-wrap;
}

.col{
    flex-grow: 1;
    padding: 0 16px;
}

@include columnHelper(12);

@media (max-width: 428px){
    .container{
        width: 90%;
        padding: 0 8px;
    }

    .col{
        padding: 0 8px;
    }

    @include columnHelper(12, 'sm', 0 8px); 
}

// -------------------------header & footer-------------------------------
%nav{
    @apply flex justify-between items-center border-solid border-2 border-transparent;

    padding-bottom: 4px;
    border-bottom: 2px solid transparent;  
}

.nav{
    padding: 24px 76px;
    @extend %nav;


    &_item{
        @extend %nav;

        &:hover {
            @apply font-bold pb-1;
        }

        a {
            @apply text-gray-blue;

            text-decoration: none;
        }

        a.router-link-exact-active {
            @apply text-primary font-bold;
        }        
    }
}


.footer {
    height: 120px;
    line-height: 120px;
    @apply bg-primary text-white text-center font-bold;
}

// -------------------------spacing-------------------------------
.no-more-word{
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

// @include spacingHelper(10, 'm', 'margin');
// @include spacingHelper(10, 'mb', 'margin-bottom');
// @include spacingHelper(10, 'mt', 'margin-top');

// @include spacingHelper(10, 'p', 'padding');
// @include spacingHelper(10, 'px', 'padding');
// @include spacingHelper(10, 'py', 'padding');

