@mixin columnHelper($columnNum, $size:'', $padding: 0 16px){
    @for $i from 1 through $columnNum{
        $className: if($size != '', '#{$size}-#{$i}', $i);

        .col-#{$className}{
            width: $i / 12 * 100%;
            padding: $padding;
            box-sizing: border-box;   
        }
    }
}

@mixin spacingHelper($num, $prefix, $propertyName) {
    @for $i from 1 through $num{
        .#{$prefix}-#{$i}{
            @if str-index($prefix, 'x'){
                #{$propertyName}:0 $i * 4px;
                
            }@else if str-index($prefix, 'y'){
                #{$propertyName}:$i * 4px 0;

            }@else{
                #{$propertyName}:$i * 4px;
            }
        }
    }
}

@mixin sizeHelper($w, $h, $borderRadius:0){
    width:$w;
    height:$h;

    @if $borderRadius != 0{
        border-radius: $borderRadius;
    }
}

@mixin skinHelper($backgroundColor, $color, $border:''){
    color: $color;
    background-color: $backgroundColor;

    @if $border != ''{
        border: $border;
    }
}

@mixin fontHelper($fontSize, $fontWeight){
    font-size: $fontSize;

    @if $fontWeight{
        font-weight: $fontWeight;
    }
}