$text-color:#08A6BB, #AEAEAE, #C4C4C4, #525151, #6F7789, #ffffff, rgba(38, 38, 38, 0.46);
$color-name: 'primary', 'light-gray', 'mid-gray', 'dark-gray', 'grey-blue', 'white', 'translucent-black';


$font-main: 'Roboto';
$font-secondary:'Nunito Sans';

$h:(22, 20, 18, 16, 14, 12);

// $border-radius:(10, 8, 4);
// $borderRadius-lg:10px;
// $borderRadius-md:8px;
// $borderRadius-sm:4px;