@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js');
@import './_variable.scss';
@import './_mixin.scss';

body{
    // font-family: 'Roboto', 'Nunito Sans';
    font-family: 'arial';
    color: #6F7789;
    font-size: 20px;
    font-weight: 500;

}

.d-flex{
    display: flex;
}

a{
    color: #6F7789;
    text-decoration: none;
}

.btn{      
    @include btn;  
    background-color: white;
    border: 4px solid #08A6BB;
    color: #08A6BB;

    &:hover{
        @include btn;
        background-color: white;
        border: 4px solid #6F7789;
        color: #6F7789;      
    }

    &-active{
        @include btn;
        background-color: #08A6BB;
        border: 4px solid #08A6BB;
        color: white; 
    }
}

.pagination{
    @include pagination;
    background-color: white;
    color: #8F8F8F;

    &:hover{
        @include pagination;
        background-color: white;
        color: #08A6BB;
    }

    &-active{
        @include pagination;
        background-color: #08A6BB;
        color: white;
    }
}

.title{
    font-weight: 700;
    color: #313131;
}