@import './_mixin.scss';

.btn{      
    @include btn;  
    background-color: white;
    border: 4px solid #08A6BB;
    color: #08A6BB;

    &:hover{
        @include btn;
        background-color: white;
        border: 4px solid #6F7789;
        color: #6F7789;      
    }

    &-active{
        @include btn;
        background-color: #08A6BB;
        border: 4px solid #08A6BB;
        color: white; 
    }

    &-search{
        background-color: #08A6BB;
        width: 60%;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        border: none
    }
}

.carousel-indicators li{
    @include pagination;
    background-color: white;
    color: #8F8F8F;

    &:hover{
        @include pagination;
        background-color: white;
        color: #08A6BB;
    }

    &-active{
        @include pagination;
        background-color: #08A6BB;
        color: white;
    }
}

// .card{
//     &-body{
//         padding: 0;
//     }

//     &-title{
//         font-weight: 700;
//         color: #313131;
//         margin-bottom: 0 !important;
//     }

//     &-type{
//         color:#6F7789;
//         font-size: 12px;
//         margin-bottom: 0 !important;
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//     }
// }

.modal{
    &-header{
        color:#6F7789 !important;
    }
}

.picture{
    &-frame-small{
        height: 150px;
        overflow: hidden;
    }

    &-frame-big{
        height: 320px;
        overflow: hidden;

    }    
}