.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  @apply flex flex-wrap;
}

.col {
  flex-grow: 1;
  padding: 0 16px;
}

.col-1 {
  width: 8.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-2 {
  width: 16.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-3 {
  width: 25%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-4 {
  width: 33.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-5 {
  width: 41.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-6 {
  width: 50%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-7 {
  width: 58.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-8 {
  width: 66.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-9 {
  width: 75%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-10 {
  width: 83.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-11 {
  width: 91.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (max-width: 428px) {
  .container {
    width: 90%;
    padding: 0 8px;
  }
  .col {
    padding: 0 8px;
  }
  .col-sm-1 {
    width: 8.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
  }
}

.nav, .nav_item {
  @apply flex justify-between items-center border-solid border-2 border-transparent;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav {
  padding: 24px 76px;
}

.nav_item:hover {
  @apply font-bold pb-1;
}

.nav_item a {
  @apply text-gray-blue;
  text-decoration: none;
}

.nav_item a.router-link-exact-active {
  @apply text-primary font-bold;
}

.footer {
  height: 120px;
  line-height: 120px;
  @apply bg-primary text-white text-center font-bold;
}

.no-more-word {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.btn {
  color: white;
  background-color: #08A6BB;
  border: 4px solid #08A6BB;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  line-height: 100%;
}

.btn:hover {
  color: white;
  background-color: #067b8a;
  border: 4px solid #067b8a;
}

.btn, .btn:hover {
  width: auto;
  height: auto;
  border-radius: 8px;
}

.btn.btn-outline {
  color: #08A6BB;
  background-color: white;
  border: 4px solid #08A6BB;
}

.btn.btn-outline:hover {
  color: white;
  background-color: #08A6BB;
  border: 4px solid #08A6BB;
}

.btn.btn-block, .btn.btn-block:hover {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel_item {
  height: 600px;
}

.carousel_caption {
  bottom: 40%;
  padding: 0;
}

.carousel_caption * {
  @apply text-white font-bold italic;
  font-size: 32px;
  text-shadow: 10px 8px 12px rgba(0, 0, 0, 0.37);
}

.carousel_search {
  display: inline;
  position: relative;
  top: -250px;
  left: 280px;
}

.carousel_search_input {
  @apply rounded-lg shadow-gray-100/25 mr-5 z-20;
}

.carousel_indicators {
  color: #8F8F8F;
  background-color: white;
}

.carousel_indicators:hover {
  color: #08A6BB;
  background-color: white;
}

.carousel_indicators-active {
  color: white;
  background-color: #08A6BB;
}

.carousel_indicators, .carousel_indicators:hover, .carousel_indicators-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
}

.card {
  @apply rounded-lg shadow-lg bg-white shadow-gray-100/50 overflow-hidden;
}

.card_body {
  @apply p-0;
}

.card_title {
  @apply text-gray-100 font-bold mb-0;
}

.card_type {
  @apply text-gray-blue overflow-hidden mb-0 text-h6;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card_img {
  max-height: 13rem;
  @apply overflow-hidden;
}

.modal {
  @apply flex justify-center items-center absolute top-0 left-0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal_dialog {
  width: 80%;
  border-radius: 0.25rem;
  padding: 16px;
  background: #fff;
}

.modal_dialog_title {
  color: #6f7789;
  border-bottom: 1px solid #ccc;
}

.picture_frame-small {
  height: 150px;
}

.picture_frame-big {
  height: 320px;
}

.picture_frame-small, .picture_frame-big {
  @apply overflow-hidden;
}

.group {
  display: flex;
}

.group * {
  border-radius: 0;
}

.group *:first-child {
  border-radius: 8px 0 0 8px;
}

.group *:last-child {
  border-radius: 0 8px 8px 0;
}

.group_input {
  @apply border-solid border-gray-60 outline-none px-2 py-1;
  border-width: 1px;
}

.group_input-block {
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
/* @tailwind ; */
/*# sourceMappingURL=tailwind.css.map */