@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  @apply flex flex-wrap;
}

.col {
  flex-grow: 1;
  padding: 0 16px;
}

.col-0 {
  width: 0;
  opacity: 0;
}

.col-transition {
  transition: width 1s, opacity 3s;
}

.col-1 {
  width: 8.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-2 {
  width: 16.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-3 {
  width: 25%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-4 {
  width: 33.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-5 {
  width: 41.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-6 {
  width: 50%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-7 {
  width: 58.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-8 {
  width: 66.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-9 {
  width: 75%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-10 {
  width: 83.33333%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-11 {
  width: 91.66667%;
  padding: 0 16px;
  box-sizing: border-box;
}

.col-12 {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (max-width: 428px) {
  .container {
    width: 90%;
    padding: 0 8px;
  }
  .col {
    padding: 0 8px;
  }
  .col-sm-1 {
    width: 8.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-2 {
    width: 16.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-3 {
    width: 25%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-4 {
    width: 33.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-5 {
    width: 41.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-7 {
    width: 58.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-8 {
    width: 66.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-10 {
    width: 83.33333%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-11 {
    width: 91.66667%;
    padding: 0 8px;
    box-sizing: border-box;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
  }
}

.nav, .nav_item {
  @apply flex justify-between items-center border-solid border-2 border-transparent;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav {
  padding: 24px 76px;
}

.nav_item:hover {
  @apply font-bold pb-1;
}

.nav_item a {
  @apply text-gray-blue;
  text-decoration: none;
}

.nav_item a.router-link-exact-active {
  @apply text-primary font-bold;
}

.nav_avatar {
  @apply w-10 h-10 rounded-full overflow-hidden cursor-pointer;
}

.footer {
  height: 120px;
  line-height: 120px;
  @apply bg-primary text-white text-center font-bold;
}

.btn {
  color: white;
  background-color: #08A6BB;
  border: 4px solid #08A6BB;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  line-height: 100%;
}

.btn:hover {
  color: white;
  background-color: #067b8a;
  border: 4px solid #067b8a;
}

.btn, .btn:not(.group_append):hover {
  width: auto;
  height: auto;
  border-radius: 8px;
}

.btn.btn-transparent {
  color: transparent;
  background-color: transparent;
  border: 2px solid transparent;
}

.btn.btn-transparent:hover {
  @apply bg-gray-40/50;
}

.btn.btn-outline {
  color: #08A6BB;
  background-color: white;
  border: 2px solid #08A6BB;
}

.btn.btn-outline:hover {
  color: white;
  background-color: #08A6BB;
  border: 2px solid #08A6BB;
}

.btn.btn-block, .btn.btn-block:hover {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carousel {
  @apply overflow-hidden relative h-56 sm:h-64 xl:h-80 2xl:h-96;
}

.carousel_body {
  @apply duration-700 ease-in-out relative top-1/2;
}

.carousel_body_caption {
  @apply absolute z-10 top-1/2 left-1/2 font-semibold text-white -translate-x-1/2 -translate-y-1/2;
}

.carousel_body_img {
  @apply block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2;
}

.carousel_control {
  @apply flex absolute top-0 z-30 justify-center items-center px-4 h-full cursor-pointer focus:outline-none;
}

.carousel_control:hover {
  opacity: 0.8;
}

.carousel_control_content {
  @apply inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30;
}

.carousel_indicators, .carousel_indicators:hover, .carousel_indicators-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
}

.card {
  @apply rounded-lg shadow-lg bg-white shadow-gray-100/50 overflow-hidden;
  height: 100%;
}

.card_body {
  @apply grid gap-y-2 p-4;
  grid-template-rows: 2fr 3fr 2fr;
}

.card_body_top {
  @apply grid items-center;
  grid-template-columns: 4fr 2fr;
}

.card_title {
  @apply text-gray-100 font-bold mb-0 truncate;
}

.card_type {
  @apply text-h6 text-gray-blue truncate mb-0;
}

.card_img {
  @apply overflow-hidden;
  max-height: 13rem;
}

.modal {
  @apply w-screen h-screen bg-gray-100/50 fixed;
  top: 0;
  left: 0;
}

.modal_body {
  @apply absolute flex flex-col p-8 rounded bg-white shadow-lg shadow-gray-80/30 overflow-y-auto;
  z-index: 100;
  max-height: 80vh;
}

.modal_body.lg {
  @apply w-4/5;
}

.modal_body.md {
  @apply w-3/5;
}

.modal_body.sm {
  @apply w-2/5;
}

.modal-show {
  @apply fixed;
  top: 10%;
}

.modal-show.lg {
  left: 10%;
}

.modal-show.md {
  left: 20%;
}

.modal-show.sm {
  left: 30%;
}

.group {
  display: flex;
}

.group * {
  border-radius: 0;
}

.group_prepend {
  border-radius: 8px 0 0 8px;
}

.group_append {
  border-radius: 0 8px 8px 0;
}

.group_input {
  @apply border-solid border-gray-60 outline-none px-2 py-1;
  border-width: 1px;
}

.group_input-block {
  width: 100%;
}

.calendar {
  @apply outline-2 outline-gray-40 outline grid rounded;
  grid-template-columns: repeat(7, 1fr);
}

.calendar_cell {
  @apply p-2 text-left;
}

.calendar_cell.date {
  @apply outline-1 outline-gray-40 outline overflow-hidden;
  min-height: 108px;
  max-height: 200px;
}

.calendar_marker {
  @apply p-1 rounded truncate cursor-pointer;
  background-color: gold;
  margin-bottom: 2px;
}

.calendar_title {
  @apply bg-primary text-white font-bold text-center;
}

.calendar_title, .calendar_navigator {
  grid-column: 1/8;
  padding: 8px;
}

.calendar_navigator {
  @apply flex justify-between;
}

.spinner {
  @apply rounded-full inline-block  border-solid border-r-transparent;
  vertical-align: text-bottom;
  animation: spinner-animation .75s linear infinite;
}

.spinner.spinner-lg {
  @apply w-32 h-32 border-8;
}

.spinner.spinner-md {
  @apply w-16 h-16 border-8;
}

.spinner.spinner-sm {
  @apply w-4 h-4 border-4;
}

.spinner span {
  @apply p-0 overflow-hidden whitespace-nowrap border-0 absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  @apply bg-white rounded p-2 absolute;
  outline: 1px solid #CBCBCB;
}

.tooltip_body {
  @apply flex flex-col;
}

.tooltip_body_close {
  @apply text-gray-80 ml-auto mb-2 hover:scale-150 cursor-pointer;
}

/* @tailwind ; */
/*# sourceMappingURL=tailwind.css.map */